<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>울창한 대나무숲</title>

<link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">

<!-- Font-Awesome CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

<!-- Bootstrap core CSS -->
<link href="./css/bootstrap/bootstrap.min.css" rel="stylesheet">
<!-- Swiper CSS -->
<link href="./css/swiper/swiper.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="./css/main/main.css" rel="stylesheet">
<link href="./css/main/gnb.css" rel="stylesheet">
<!-- <link href="./css/main/preload.css" rel="stylesheet"> -->
<link href="./css/main/bouncing.css" rel="stylesheet">
<link href="./css/main/notice.css" rel="stylesheet">
<link href="./css/main/weather.css" rel="stylesheet">
<link href="./css/main/imglist.css" rel="stylesheet">
<link href="./css/main/rank-slide.css" rel="stylesheet">
<link href="./css/core.css" rel="stylesheet">
<style>
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-container > .swiper-wrapper > .swiper-slide {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .slide-3 {
    background-color: #fff;
  }
  .slide-4 {
    background-color: #fff;
  }

  .list-group {
    width: 100%;
  }
  .list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0 !important;
  }
  .list-group-item > i {
    font-size: 16px;
  }
  .list-group-item > span {
    font-size: 14px;
    font-weight: 500;
  }
</style>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">울창한 대나무숲</a>
    <div class="">
      <button class="navbar-toggler button-custom" type="button" data-toggle="collapse" data-target="#searchResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-search-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="searchResponsive">
      <!-- 검색창 부분 -->
      <ul class="navbar-nav ml-auto">
        <li class="search-body">
          <form class="input-group" method="get" action="http://localhost:3000/search/result">
            <input type="text" class="form-control form-control-custom" name="t1">
            <span class="input-group-btn">
              <button class="btn btn-secondary btn-search" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- gnb -->
<div class="global-nav-btn-list">
  <div class="gnb-wrapper">
    <a class="gnb-item gnb-index-0" data-target="nav-main">
      <i class="fa fa-list-alt" aria-hidden="true"></i>
    </a>
    <a class="gnb-item gnb-index-1" data-target="nav-notice">
      <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
    </a>
    <a class="gnb-item gnb-index-2" data-target="nav-ranking">
      <i class="fa fa-star-o" aria-hidden="true"></i>
    </a>
    <a class="gnb-item gnb-index-3" data-target="nav-mylist">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
  </div>
</div>

<!-- Page Content -->
<div class="container main-container">
  <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-12">

        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide slide-1" data-hash="nav-main">
              <!-- Community Post -->
              <ul class="all-contents">
                  <div class="bouncing-loader">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
              </ul>

              <!-- <div class="container">
                <div class="row">
                  <div id="loader">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                  </div>
                </div>
              </div> -->
            </div>
            <div class="swiper-slide slide-2" data-hash="nav-notice">
              <!-- Haksa Post -->
              <div class="haksa-wrapper">
                <div class="notice">
                  <div class="notice-header">
                    <div class="pulse-container">
                      <div class="circle notice-title">
                        학사
                      </div>
                      <div class="circle delay-1"></div>
                      <div class="circle delay-2"></div>
                      <div class="circle delay-3"></div>
                    </div>
                    <span class="notice-text">SU NOTICE</span>
                  </div>
                  <div class="slide-section">
                    <!-- Swiper -->
                    <div class="swiper-container-2">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <ul class="haksa-contents"></ul>
                        </div>
                        <div class="swiper-slide">
                          <ul class="life-contents"></ul>
                        </div>
                        <div class="swiper-slide">
                          <ul class="event-contents"></ul>
                        </div>
                        <div class="swiper-slide">
                          <ul class="job-contents"></ul>
                        </div>
                        <div class="swiper-slide">
                          <ul class="scholarship-contents"></ul>
                        </div>
                        <div class="swiper-slide">
                          <ul class="org-contents"></ul>
                        </div>
                      </div>
                      <!-- Add Pagination -->
                      <div class="swiper-pagination"></div>
                    </div>
                  </div>
                </div>

                <div class="weather-box">
                  <div class="weather-wrapper">
                    <div class="weather-header">
                      <span class="weather-title">삼육동 날씨</span>
                      <span class="dayafter day">모레</span>
                      <span class="tomorrow day">내일</span>
                      <span class="today day">오늘</span>
                    </div>
                    <div class="swiper-container-3">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide today-slide">
                          <div class="weather-content">
                            <div class="weather-main-icon">

                            </div>
                            <div class="weather-main-desc">
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide tomorrow-slide">
                          <div class="tomorrow-wrapper">

                          </div>
                        </div>
                        <div class="swiper-slide dayafter-slide">
                          <div class="dayafter-wrapper">

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flat-plate">
                  <div class="flat-plate-wrapper">
                    <div class="flat-plate-header">
                        <span class="flat-plate-title">삼육동 소식</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide slide-3" data-hash="nav-ranking">
              <div class="rank-slide-desc">
                <div class="alert alert-dismissible alert-info">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  최근 일주일 동안의 추천 게시물을 확인하세요 :)
                </div>
              </div>
              <div class="swiper-container-4">
                <div class="swiper-pagination"></div>
                <div class="swiper-wrapper rank-slide-control">
                  <div class="swiper-slide"></div>
                  <div class="swiper-slide"></div>
                  <div class="swiper-slide"></div>
                  <div class="swiper-slide"></div>
                  <div class="swiper-slide"></div>
                  <div class="swiper-slide"></div>
                  <div class="swiper-slide"></div>
                  <div class="swiper-slide"></div>
                  <div class="swiper-slide"></div>
                  <div class="swiper-slide"></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
              <div class="rank-sub-box">
                <div class="rank-type-desc">
                  <a href="#">대신 전해드립니다</a>
                </div>
                <ul class="rank-type-ul ranktype-2">
                </ul>
              </div>
              <div class="rank-sub-box">
                <div class="rank-type-desc">
                  <a href="#">대나무숲</a>
                </div>
                <ul class="rank-type-ul ranktype-1">
                </ul>
              </div>
              <div class="rank-sub-box">
                <div class="rank-type-desc">
                  <a href="#">삼육대학교(Sahmyook University)</a>
                </div>
                <ul class="rank-type-ul ranktype-6">
                </ul>
              </div>
              <div class="rank-sub-box">
                <div class="rank-type-desc">
                  <a href="#">제 57대 We Can 총학생회</a>
                </div>
                <ul class="rank-type-ul ranktype-3">
                </ul>
              </div>
              <div class="rank-sub-box">
                <div class="rank-type-desc">
                  <a href="#">학회연합회</a>
                </div>
                <ul class="rank-type-ul ranktype-4">
                </ul>
              </div>
              <div class="rank-sub-box">
                <div class="rank-type-desc">
                  <a href="#">컴퓨터학부</a>
                </div>
                <ul class="rank-type-ul ranktype-5">
                </ul>
              </div>
            </div>
            <div class="swiper-slide slide-4" data-hash="nav-mylist">
              <div class="list-slide-wrapper">
                <div class="list-group">
                  <div class="list-group-item"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;<span>내정보</span></div>
                  <div class="list-group-item"><i class="fa fa-star" aria-hidden="true"></i>&nbsp;&nbsp;<span>스티커</span></div>
                  <div class="list-group-item"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;&nbsp;<span>설정</span></div>
                  <div class="list-group-item"><i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;&nbsp;<span>로그아웃</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
  <!-- /.row -->
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary comment-link">&nbsp;Link&nbsp;</button>
      </div>
    </div>
  </div>
</div>

<!-- JQuery 라이브러리 임포트 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
<script src="./components/jquery/jquery-1.12.0.min.js"></script>
<script src="./components/jquery-ui-dist/jquery-ui.min.js"></script>
<script src="./components/popper/popper.min.js"></script>
<script src="./components/bootstrap/bootstrap.min.js"></script>
<script src="./components/swiper/swiper.min.js"></script>
<script src="./components/skycons/skycons.js"></script>
<script src="./js/main/ajaxsend.js"></script>
<script src="./js/main/show-more-text.js"></script>
<script src="./js/main/get-picture.js"></script>
<script src="./js/main/get-source.js"></script>
<script src="./js/main/main.js"></script>
<script src="./js/main/gnb-control.js"></script>
<script src="./js/main/comment.js"></script>
<script src="./js/main/notice.js"></script>
<script src="./js/main/weather.js"></script>
<script src="./js/main/ranking.js"></script>
<script src="./js/main/ranking-type.js"></script>
<script src="./js/main/new-open-window.js"></script>
<script>
  var bodyWidth = $('body').width();

  var bodyHeight = $('body').height();
  $('.bouncing-loader').height(bodyHeight);
  $('.swiper-slide').height(bodyHeight-97);

  $('.gnb-item').on('click', function(e) {
    var target = $(this).data("target");
    window.location.hash = target;
  });

  var swiperFlag = true;
  var rankingFlag = true;

  if (bodyWidth < 768) {
    var swiper1 = new Swiper('.swiper-container', {
      spaceBetween: 5,
      hashNavigation: {
        watchState: true
      },
    });

    $(`.gnb-index-${swiper1.activeIndex}`).addClass('gnb-active');

    // 메인 포스트 슬라이드
    swiper1.on('slideChangeTransitionEnd', function() {
      var targetHash = this.activeIndex;
      var prevHash = this.previousIndex;
      $(`.gnb-index-${prevHash}`).removeClass('gnb-active');
      $(`.gnb-index-${targetHash}`).addClass('gnb-active');

      // 학사 슬라이더 폼에 갈 시,
      if(targetHash === 1) {
        if(!swiperFlag) {
          return;
        }
        swiperFlag = false;
      }

      // ranking page
      if(targetHash === 2) {
        if(rankingFlag === false) {
          return;
        }
        rankingFlag = false;
      }
    });
  }

  // 공지, 날씨, 배너 페이지 슬라이드
  var swiper2 = new Swiper('.swiper-container-2', {
    slidesPerView: 1,
    spaceBetween: 10,
    loop: true,
    fadeEffect: {
    crossFade: true
    },
    centeredSlides: true,
    pagination: {
      el: '.swiper-pagination',
    },
  });
  swiper2.on('slideChangeTransitionEnd', function() {
    var curSlide = this.realIndex;
    noticeSlideOnChange(curSlide);
  });

  // 랭킹 추천 페이지 슬라이드
  var swiper3 = new Swiper('.swiper-container-3', {
    slidesPerView: 1,
  });
  swiper3.on('slideChangeTransitionEnd', function() {
    // 날씨 슬라이드 이동 시
    weatherSlideOnChange(this.activeIndex);
  });

  // 마이 페이지 슬라이드
  var swiper4 = new Swiper('.swiper-container-4', {
    pagination: {
        el: '.swiper-pagination',
        type: 'progressbar',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>
</body>
</html>
