<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>울창한 대나무 숲</title>
  <style>
    * { margin: 0; padding: 0; }
    html, body { height: 100%; }
    body {
      background-color: green;
    }
  </style>
</head>
<body>

<script>
  // setTimeout(function() {
  //   window.location.href="http://localhost:3000/main";
  // }, 1000);
</script>
</body>
</html>
