@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

/* 초기화 */
html, body {
  position: relative;
  height: 100%;
}
body { padding: 0; font-family: 'Nanum Gothic', sans-serif; font-weight: 500; }
ul { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; transition: linear 1s; }
a:hover { text-decoration: none; }
