/* 사이드 메뉴 CSS */
#aside-bar {
  position: fixed;
  top: 0; left: -30%;
  width: 30%; height: 100%;
  background-color: #e5e5e5;

  transition: ease 1s;
  z-index: 10;
}
.close-btn {
  width: 100%; height: 60px;
  font-size: 16px;
  font-weight: bold;
  border: none;
}
.href-btn {
  width: 100%; height: 60px;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

/* 메인 영역 CSS */
#wrap {
  height: 100%;
}
.header {
  position: relative;
  width: 100%;
  height: 60px;
}
.fixed-bar {
  position: fixed;
  width: 100%;
  height: 60px;

  background-color: #fff;
  border-bottom: 2px solid black;
  z-index: 9;
}
.show-btn {
  position: absolute;
  width: 10%; height: 40px;
  top: 10px; left: 10px;
}
.logo {
  margin: 0;
  line-height: 60px;
  text-align: center;
}
.feed-btn1 {
  position: absolute;
  width: 11%; height: 40px;
  top: 10px; right: 25%;
}
.feed-btn2 {
  position: absolute;
  width: 11%; height: 40px;
  top: 10px; right: 13%;
}
.feed-btn3 {
  position: absolute;
  width: 11%; height: 40px;
  top: 10px; right: 10px;
}
.section { position: relative;}
.all-contents {
  position: absolute;
  top: 0px; left: 0%;
  width: 100%;
  transition: ease 0.5s;
}
.fb-contents {
  position: absolute;
  top: 0px; left: 100%;
  width: 100%;
  transition: ease 0.5s;
  /*display: none;*/
}
.dc-contents {
  position: absolute;
  top: 0px; left: 200%;
  width: 100%;
  transition: ease 0.5s;
  /*display: none;*/
}
.content {
  width: 100%; height: 300px;
  margin: 20px auto 0;
  padding: 10px 0 10px 20px;

  background-color: #d5d5d5;

  border-top: 1px solid #a6a6a6;
  border-bottom: 1px solid #a6a6a6;

  box-sizing: border-box;
}
.fb-title {
  height: 160px;
  white-space: pre-line;
  overflow: auto;
  text-overflow: clip;
}
.dc-title {
  height: 130px;
  white-space: pre-line;
  overflow: auto;
  text-overflow: clip;
}
