<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <title>게시판 뷰</title>
    <style>
        .header {
            padding-top: 80px;
            padding-bottom: 10px;
        }
        
        .nav {
            padding-bottom: 100px;
        }
    </style>
</head>

<body>
    <!-- Table -->
    <div class="container all">

        <div class="row text-center header">
            <h1>마크</h1>
        </div>

        <div class="row ">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Profile</a></li>

            </ul>
        </div>

        <div class="row mid">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>날짜</th>
                        <th>조회수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>번호</td>
                        <td>번호</td>
                        <td>번호</td>
                        <td>번호</td>
                        <td>번호</td>
                    </tr>
                    <tr>
                        <td>번호</td>
                        <td>번호</td>
                        <td>번호</td>
                        <td>번호</td>
                        <td>번호</td>
                    </tr>
                    <tr>
                        <td>번호</td>
                        <td>번호</td>
                        <td>번호</td>
                        <td>번호</td>
                        <td>번호</td>
                    </tr>
                    <tr>
                        <td>번호</td>
                        <td>번호</td>
                        <td>번호</td>
                        <td>번호</td>
                        <td>번호</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <a class="btn btn-default pull-right">글쓰기</a>
        </div>

        <div class="text-center bot">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>