@import url('https://fonts.googleapis.com/css?family=Jua');
@import url('http://fonts.googleapis.com/earlyaccess/hanna.css');

.flat-plate {
  box-sizing: border-box;
  margin-top: 7px;
  background-color: #fff;
}
.flat-plate-wrapper {
  padding: 5px 5px 0;
}
.flat-plate-header {
  position: relative;
  width: 100%;
  height: 45px;
  overflow: hidden;
}
.flat-plate-title {
  display: block;
  position: absolute;
  top: 0px; left: 10px;
  padding: 10px;
  font-size: 17px;
  font-weight: normal;
  font-family: 'Hanna', sans-serif;
}

.plate-image-item {
  width: 100%;
  padding: 10px;
  margin-bottom: 3px;
  box-sizing: border-box;
}

.plate-link {
  display: block;
  width: 100%;
}

.plate-text {
  padding-left: 6px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Jua', cursive;

  overflow: hidden;
}
.plate-text > img {
  width: 15px; height: 15px;
  float: left;
}

.plate-img {
  width: 100%;
  border: 1px solid #f0ffff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: pointer;
}
